<div style="display: none;">
    <div id="form">
        <%= form_for(@upload, :remote => true ) do |f| %>
        <p>請填寫完整之正確資料，以免錯失中獎機會喔！</p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="17%">上傳照片</td>
                <td width="83%">
                    <%= f.file_field :image, :class =>"file" %></td>
            </tr>
            <tr>
                <td>真實姓名</td>
                <td>
                    <%= f.text_field :name, :class =>"text" %></td>
            </tr>
            <tr>
                <td>聯絡地址</td>
                <td>
                    <%= f.text_field :address, :class =>"text" %></td>
            </tr>
            <tr>
                <td>聯絡電話</td>
                <td>
                    <%= f.text_field :tel, :class =>"text" %></td>
            </tr>
            <tr>
                <td>電子信箱</td>
                <td>
                    <%= f.email_field :email, :class =>"text" %></td>
            </tr>
            <tr>
                <td colspan="2" align="center">

                    <%= f.hidden_field :fbID %>
                    <%= f.hidden_field :access_token %>
                    <br />
                    <%= f.hidden_field :nickname %>

                    <input type="button" value="button" class="submit" id="clear" />
                    <%= f.submit nil, :class =>
                    "submit", :id => "send" %>
                    <br></td>
            </tr>
        </table>
        <% end %>

        <img id="sending" src="/images/sending.gif" style="display: none;" />
    </div>
</div>