<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <meta name="keywords" content="春水堂, 瑪可緹, 秋山堂, 茶湯會"/>
    <title>SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽</title>
    <meta name="description" content="誠摯邀請各位茶友們一同參與春水堂和她的姊妹品牌接力賽，成為我們最強力有勁的啦啦夥伴~將茶香聖火持續接力，綿延不息！" />
    <meta property="og:site_name" content="SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽"/>
    <meta property="og:title" content="SHARE TEA 春水堂姊妹品牌ㄒㄩˋ茶接力賽"/>
    <meta property="og:description" content="誠摯邀請各位茶友們一同參與春水堂和她的姊妹品牌接力賽，成為我們最強力有勁的啦啦夥伴~將茶香聖火持續接力，綿延不息！"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://sharetea.chunshuitang.com.tw"/>
    <meta property="og:image" content="http://sharetea.chunshuitang.com.tw/images/thumb.jpg">
    <link rel="image_src" href="http://sharetea.chunshuitang.com.tw/images/thumb.jpg">
    <link rel="shortcut icon" href="http://sharetea.chunshuitang.com.tw/images/favicon.ico"/>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/colorbox.css" />
    <link rel="stylesheet" href="/css/upload.css" />

    <script src="/js/jquery.colorbox-min.js"></script>
    <script src="/js/anchor-art.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="top">
            <a href="#wrapper"><img src="/images/s-06.png"/></a>
        </div>
        <div id="header">
            <ul>
                <li>
                    <a href="https://www.facebook.com/ChunShui1983" target="_blank">春水堂</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/MocktailTea" target="_blank">瑪可緹</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/chioushantangtea?ref=hl" target="_blank">秋山堂</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/茶湯會/552315764806885" target="_blank">茶湯會</a>
                </li>
            </ul>
            <a id="back" href="/index">回首頁</a>
            <h1>玩味SHARE TEA， S 型好時尚！</h1>
            <p>
                <b>上傳 S 型喝法，你就是下一個快速竄紅的時尚達人！</b>
                <br />
                ㄒㄩˋ茶接力賽的開幕儀式當然要與眾不同，
                <br>
                不來個時尚的喝法，似乎對不起自己的品味！
                <br>
                凡於 5/1~5/31，依 S 型時尚姿態範例，品嘗春水堂、瑪可緹、秋山堂、茶湯會商品，
                <br />
                並將照片上傳到此頁面，即有機會抽中春水堂羊脂白手握杯二入！
                <br>數量有限，快把握機會喔！
            </p>
            <div class="pic">
                <img src="/images/u-02.png"/>
            </div>
        </div>
        <div id="article">
            <div id="content">
                <img src="/images/u-04.png" class="pic"/>
                <h3>參加方式</h3>
                <div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="24%" valign="bottom">
                                按「讚」加入「春水堂
                                <br />
                                人文茶館」粉絲團。
                            </td>
                            <td width="26%" valign="bottom">
                                上傳 S 型玩味商品姿態，
                                <br />
                                並分享至您的 Facebook。
                            </td>
                            <td width="13%" valign="bottom">參加抽獎</td>
                            <td width="37%" valign="bottom">
                                <a href="/term">
                                    <img src="/images/u-03.png"/>
                                </a>
                                <br />
                                <span>
                                    每個 Facebook 帳號
                                    <br />
                                    限參加乙次抽獎活動
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--content-->
            <div id="upload">
                <div id="fb">
                    <div class="fb-like-box" data-href="https://www.facebook.com/ChunShui1983?ref=ts&amp;fref=ts&amp;filter=1" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
                <%= link_to image_tag("/images/u-09.png"), "#form", :class => "inline", :id => "fb_join" %>
            </div>

            <div id="wall">
                <%= render @uploads %>
            </div>

            
            <div id="paginator" class="page">
                <%= paginate @uploads, :remote => true %>
            </div>
        </div>

        <%= render 'form' %>

        <div style="display: none;">
            <div id="alert_like_first">
                <img src="/images/like_first.png" />
            </div>
        </div>

        <div style="display: none;">
            <div id="alert_thx">
                <img src="/images/thx.png" />
            </div>
        </div>
        
        <!--article-->
        <div id="footer">
            <p class="left">
                春水堂姐妹品牌　│
                <a href="http://chunshuitang.com.tw/index.php" target="_blank">春水堂</a>
                │
                <a href="http://www.mocktail.com.tw/#/a3" target="_blank">瑪可緹</a>
                │
                <a href="https://www.facebook.com/chioushantangtea?ref=hl" target="_blank">秋山堂</a>
                │
                <a href="http://teapatea.com.tw/" target="_blank">茶湯會</a>
            </p>
            <p class="right">茶香聖火持續接力，綿延不息</p>
        </div>
    </div>

    <!-- for fb like button, include the JavaScript SDK -->    
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '267446313433381',
            status     : true,
            xfbml      : true
        });
    };
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=267446313433381";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

</body>

<script type="text/javascript">

/* for form */
$("#clear").click(function(e){
    e.preventDefault();
    $("#new_upload")[0].reset();
});

$("#new_upload").submit(function(){
    $(this).hide();
    $("#sending").show();
});

/* for FB */
$("a#fb_join").click(function(e){
  e.preventDefault();
  fb_share();
});

function fb_share(){
  FB.login(function(){
    //is user like or not
    FB.api('me/likes/114415101159', 'get', function(resp) {
      if(resp.data.length){
        //get FB access token
        FB.getLoginStatus(function (response) {
            if (response.authResponse) {
                $("input#upload_access_token").val(response.authResponse.accessToken);

                FB.api("/me",function (response) {
                    if (response && response.id) {
                        $("input#upload_fbID").val(response.id);
                        $("input#upload_name").val(response.name);
                        $("input#upload_email").val(response.email);
                        $.colorbox({inline:true, width:"723", href:"#form"});
                    }
                }); 
            }
            else{
                alert("FB 登入失敗，請重新點選我要上傳");
            }
        });
        
      }
      else{
        $.colorbox({inline:true, width:"380", href:"#alert_like_first"});
      }
    });
  }, {scope: ['publish_actions', 'user_likes']});
}

</script>
</html>